<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AmbiLED.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AmbiLED.Properties.Settings>
            <setting name="SPOTS_X" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SPOTS_Y" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SPOT_WIDTH" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="SPOT_HEIGHT" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="BORDER_X" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="BORDER_Y" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="OFFSET_X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OFFSET_Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OFFSET_LED" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MIRROR_X" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MIRROR_Y" serializeAs="String">
                <value>False</value>
            </setting>
        </AmbiLED.Properties.Settings>
    </userSettings>
</configuration>